# Python
__pycache__/
*.py[cod]
*.pyo

# Environments
.env
.venv/
venv/
env/

# OS/editor
.DS_Store
.vscode/

# Local data and DBs
data/*.db
*.sqlite

# Tests / cache
.pytest_cache/
.coverage
data/payments.db
